#main-section, nav{
  //height: 450px;
  color: white;
  text-align: center;
}

#background-scope {
  background-image: url('./bibo_dokolo.jpeg');
  background-size: cover;
  background-position: center;
}

#deco-div {
  width: 7px;
  height: 3px;
  color: red;
}

#title {
  font-family: 'Roboto', sans-serif;
  font-size: 4.7rem;
  font-weight: 800;
  letter-spacing: -5px;
  margin: 0;
  text-align: left;
}

#ksd-project-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  
    
    
}

.ksd-project {
    width: 430px;
    height: 430px;
    
    
}

#web-design {
  background-image: url('./web_design.png');
  background-size: cover;
  background-position: right;
}

#animation {
  background-image: url('./maboso_visage_serre.jpg');
}

#img-co-founders {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 350px;
        height: 355px;
        margin: 7px;
    }
}

#co-founders-div, #team {
  background-color: white;
  color: black;
}

#team {
    text-align: center;
}