.about-component{
  background-color: rgb(43, 137, 156);
}

#navigation {
  display: block;
  justify-content: space-between;
}

#ksd-nav {
  font-size: 3rem;
}


#nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
      font-family: 'Roboto', sans-serif;
      font-weight: 800;
      font-size: 0.9rem;
      list-style-type: none;
      padding: 2px;
  }
}

  


