@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
.about-component {
  background-color: #2b899c;
}

#navigation {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ksd-nav {
  font-size: 3rem;
}

#nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-ul a {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 0.9rem;
  list-style-type: none;
  padding: 2px;
}

#main-section, nav {
  color: white;
  text-align: center;
}

#background-scope {
  background-image: url("../images/bibo_dokolo.jpeg");
  background-size: cover;
  background-position: center;
}

#deco-div {
  width: 7px;
  height: 3px;
  color: red;
}

#title, #animation-grid-div {
  font-family: 'Bonheur Royale', 'Roboto', sans-serif;
}

#title {
  font-size: 4.7rem;
  font-weight: 800;
  letter-spacing: -5px;
  margin: 0;
  text-align: left;
}

#ksd-project-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px;
}

.ksd-project {
  width: 430px;
  height: 430px;
}

#web-design {
  background-image: url("../images/web_design.png");
  background-size: cover;
  background-position: right;
}

#animation {
  background-image: url("../images/maboso_visage_serre.jpg");
}

#img-co-founders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#img-co-founders img {
  width: 350px;
  height: 355px;
  margin: 7px;
}

#co-founders-div, #team {
  background-color: white;
  color: black;
}

#team {
  text-align: center;
}

#our-works {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 180px (1fr)[3];
      grid-template-rows: 1fr 180px repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 180px;
  gap: 12px;
}

#our-works a {
  border: gray 1px solid;
}

#our-work-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
}

#ksd-grid-item2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  background-image: url("../images/web_design_img.jpg");
  background-size: cover;
}

#ksd-grid-item3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  background-image: url("../images/silvermusemist.jpg");
  background-size: cover;
}

#ksd-grid-item4 {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  background-image: url("../images/ashlyn_garden.jpg");
  background-size: cover;
}

#animation-grid-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 150px 1fr;
      grid-template-rows: 150px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 32px;
}

iframe {
  width: 800px;
  height: 600px;
}

footer {
  width: 100%;
  background-color: #2b899c;
  color: white;
}

#footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.7rem;
}

.footer-list-ul, #follow-us > ul {
  padding: 0;
}

.footer-list {
  list-style-type: none;
}

.icons {
  font-size: 1.7rem;
  margin: 0.4rem;
  line-height: 1.2rem;
}

a:visited, .a-visited {
  color: #c0df39;
}

#made-by {
  width: 100%;
  text-align: center;
}

@media (max-width: 760px) {
  #ksd-project-div, #title {
    display: none;
  }
  #background-scope {
    position: relative;
    width: 100%;
    height: 130px;
  }
  #ksd-nav {
    margin: 0;
    font-size: 20px;
    text-align: left;
  }
  #nav-ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    text-align: right;
  }
  #img-co-founders {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #img-co-founders img {
    width: 300px;
    height: 300px;
  }
  .founders-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2px;
  }
  footer {
    width: 100%;
  }
  #footer-flex {
    display: -ms-grid;
    display: grid;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about-us h2 {
    margin: 0;
  }
  iframe {
    width: 300px;
    height: 200px;
  }
}

body {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}
/*# sourceMappingURL=index.css.map */